<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Achilles Student Profile</name>
    <description>A responsive multi-page Student Profile application with editable profile data for Activity 5.</description>
    <author email="achilles.albacete@example.com" href="https://github.com/">
        Achilles A. Albacete
    </author>
    <content src="index.html" />

    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
    <preference name="scheme" value="http" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>